---
import Layout from 'src/Layouts/PageLayout.astro';
import { HOME_DESCRIPTION } from 'src/constants';
---

<Layout
	pageTitle='Blog – Ashirbad'
	description={`Blog posts by Ashirbad - ${HOME_DESCRIPTION}`}
>
	<h1>Blog</h1>
	<p class='text-gray-700 mt-4'>Coming soon...</p>
</Layout>
