---
import Layout from "src/Layouts/PageLayout.astro";
import { HOME_TITLE, HOME_DESCRIPTION } from "src/constants";
---

<Layout pageTitle={HOME_TITLE} description={HOME_DESCRIPTION}>
  <main class="mx-auto max-w-2xl border-2 py-14" > 
    <header>
      <div>Ashirbad</div>
      <nav>
        <a>Blog Posts</a>
      </nav>
    </header>
  </main>
</Layout>
