---
import Link from 'src/components/Link.astro';

type Props = {
	posts: Array<{ title: string; date: string; slug?: string }>;
};

const { posts } = Astro.props;
---

<ul class='space-y-3'>
	{
		posts.map(post => (
			<li class='flex justify-between items-center'>
				<Link
					href={post.slug ? `/blog/${post.slug}` : '#'}
					class='text-gray-700'
				>
					{post.title}
				</Link>
				<span class='text-sm text-gray-500'>{post.date}</span>
			</li>
		))
	}
</ul>
